<template>
    <div class="game">

        <div v-if="isSocketReady" class="inline-block">
            <div class="pull-left">
                <table class="ships-map" v-if="shipsMap">
                    <tr v-for="(row, i) in shipsMap" :key="i">
                        <td v-for="(cell, j) in row" :key="j"
                            v-bind:class="[{ 'ship': shipsCodes.includes(cell) }, { 'hit': cell === -2 },{ 'miss': cell === -3 }]">
                        </td>
                    </tr>
                </table>
            </div>
            <div class="pull-right">
                <table class="strikes-map" v-if="strikesMap">
                    <tr v-for="(row, i) in strikesMap" :key="i">
                        <td v-for="(cell, j) in row" :key="j" @click=" (cell==0) ? makeTurn(i,j) : ''"
                            v-bind:class="[{ 'hit': cell === -2 },{ 'miss': cell === -1 }]">
                        </td>
                    </tr>
                </table>
            </div>


        </div>
        <div v-else>
            Something happened. Perhaps you forgot to run WebSoket server.
        </div>

        <div class="table-info-wrapper">
            <table class="table-info">
                <tr>
                    <th>Color</th>
                    <th>Definition</th>
                </tr>
                <tr>
                    <td>

                    </td>
                    <td>
                        Sea
                    </td>
                </tr>
                <tr>
                    <td class="ship">

                    </td>
                    <td>
                        Ship
                    </td>
                </tr>
                <tr>
                    <td class="miss">

                    </td>
                    <td>
                        Missed shot
                    </td>
                </tr>
                <tr>
                    <td class="hit">

                    </td>
                    <td>
                        Target hit
                    </td>
                </tr>
            </table>
        </div>


    </div>
</template>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .inline-block {
        display: inline-block;
    }

    .ship {
        background: #aa4dff;
    }

    .hit {
        background: #ff2638;
    }

    .miss {
        background: #5d5d5d;
    }

    table {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    table tr td {
        width: 20px;
        border: 1px solid #000;
        height: 20px;
    }

    .strikes-map tr td {
        cursor: pointer;
    }

    .strikes-map .hit, .strikes-map .miss {
        cursor: no-drop;
    }

    .pull-right {
        float: left;
    }

    .pull-left {
        float: left;
    }

    .table-info {
        width: 200px;
        margin: 0px auto;
        cursor: alias;
    }

    .table-info tr {
        cursor: help;
    }

</style>


<script>

    import VueSweetalert2 from 'vue-sweetalert2';

    window.$st = {}

    export default {
        data() {
            return {

                authorizeID: null,
                isSocketReady: false,
                host: 'ws://0.0.0.0:8088',
                lastTurn: {x: -1, y: -1},
                shipsCodes: [1, 4, 5],
                shipsMap: [],
                strikesMap: [],
                ws: null,
            }
        },
        mounted() {
            this.generateStrikesMap();
            this.ws = new WebSocket(this.host);
            this.ws.onmessage = e => {
                let response = JSON.parse(e.data);
                switch (response.command) {
                    case "authorizeCallback":
                        this.shipsMap = response.payload.map;
                        this.authorizeID = response.payload.authorizeID;
                        break;
                    case "playerTurnCallback":
                        this.performTurn(response.payload);
                        break;
                    case "computerTurnCallback":
                        this.performTurn(response.payload);
                        break;
                }
            };
            this.ws.onopen = e => {
                this.isSocketReady = true;

                this.ws.send(JSON.stringify({
                    command: "prepare"
                }));
            };
        },
        methods: {
            generateStrikesMap() {
                for (let i = 0; i < 10; i++) {
                    this.strikesMap[i] = [];
                    for (let j = 0; j < 10; j++) {
                        this.strikesMap[i][j] = 0;
                    }
                }
            },
            makeTurn(x, y) {
                this.ws.send(JSON.stringify({
                    authorizeID: this.authorizeID,
                    command: "playerTurn",
                    x: x,
                    y: y
                }));
                this.lastTurn.x = x;
                this.lastTurn.y = y;

                this.isSocketReady = false;
                this.isSocketReady = true;
            },
            performTurn(payload) {
                let hit = false;

                if (typeof payload.coordinates.x !== 'undefined' && typeof payload.coordinates.y !== 'undefined') {
                    if (this.shipsCodes.includes(this.shipsMap[payload.coordinates.x][payload.coordinates.y])) { // there is a hit
                        this.shipsMap[payload.coordinates.x][payload.coordinates.y] = -2;
                        hit = true;
                    }
                    else {
                        this.shipsMap[payload.coordinates.x][payload.coordinates.y] = -3;
                    }

                }
                if (payload.hit) {
                    this.strikesMap[this.lastTurn.x][this.lastTurn.y] = -2; // -2 is hitted
                }
                else {
                    this.strikesMap[this.lastTurn.x][this.lastTurn.y] = -1; // -2 is missed shot
                }

                this.isSocketReady = false;
                this.isSocketReady = true;

                this.checkIfNotEnd();

                if (payload.end) {
                    this.showCongatulationsDialog();
                }

                if (hit) {
                    this.ws.send(JSON.stringify({
                        authorizeID: this.authorizeID,
                        command: "computerTurn",
                    }));
                }

                this.checkIfNotEnd();
            },
            checkIfNotEnd() {
                let end = true;
                this.shipsCodes.map(code => {
                    this.shipsMap.map(dimension => {
                        if (dimension.includes(code)) {
                            end = false;
                        }
                        return dimension;
                    });
                    return code;
                });
                if (end) {
                    this.$swal({
                        title: 'Game over! You lose',
                        text: 'Would you like to play again?',
                        type: 'success',
                        confirmButtonText: 'OK'
                    }).then((result) => {
                        if (result.value) {
                            location.reload();
                        }
                    })
                }
            },
            showCongatulationsDialog() {
                this.$swal({
                    title: 'Congarulations! You win!',
                    text: 'Would you like to play again?',
                    type: 'success',
                    confirmButtonText: 'OK'
                }).then((result) => {
                    if (result.value) {
                        location.reload();
                    }
                })
            }
        }
    }
</script>
